[submodule "part10/part10/rate-repository-app"]
	path = part10/part10/rate-repository-app
	url = https://github.com/kstarmach/rate-repository-app.git
[submodule "part10/rate-repository-app"]
	path = part10/rate-repository-app
	url = https://github.com/kstarmach/rate-repository-app.git
[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/kstarmach/full-stack-open-pokedex.git
[submodule "part12"]
	path = part12
	url = https://github.com/kstarmach/part12-containers-applications.git
[submodule "part12/part12-containers-applications"]
	path = part12/part12-containers-applications
	url = https://github.com/kstarmach/part12-containers-applications.git
